@import "../variables";

header {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.125rem;
  padding: 0 4rem;
  background-color: $white-color;

  .logo-link {
    &:focus {
      outline: none;
    }
    .logo {
      height: 200px;
    }
  }

  div {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
    }
  }

  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: $primary-color;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header-nav__container {
    padding: 0 1rem;

    .logo {
      height: 150px;
    }

    .nav-btn {
      visibility: visible;
      opacity: 1;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: $primary-color;
      transform: translateY(-100vh);

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.2rem;
        background-color: $primary-color;
        width: 100%;
        padding: 2rem 0;
      }
    }

    .responsive_nav {
      transform: none;
      z-index: 20;
    }

    .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 1rem;
      color: $white-color;
    }
  }
}
