@import "../base";
@import "../variables";

.searchBar {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  height: 3rem;
  padding-bottom: 1rem;


.field-name {
  width: 24rem;
  height: 2rem;
  border: 1px solid $primary-color;
  border-top: none;
  border-left: none;
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: $font-size-1;
  color: $primary-color;

  &:focus,
  &:hover {
    outline: 2px solid $outline-color;
  }
  &::placeholder{
    color:$primary-color;
  }
}

.items {
  background-color: $primary-color;
  color: $white-color;
  font-weight: 500;
  padding: 2rem 0;
  margin-top: 0.3rem;
  border-radius: 20px;
  border: 1px solid $secondary-color;
  p {
    padding-left: 2rem;

    &:hover,
    &:focus {
      background-color: $secondary-color;
      color: $primary-color;
      cursor: pointer;
      outline: none;
      border-inline: 2px solid $outline-color;
      writing-mode: horizontal-tb;
    }
  }
}

.search-items {
  width: 22rem;
  font-size: $font-size-1;
}

.items-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border: 1px solid $primary-color;
  border-top: none;
  border-left: none;
  background-color: $white-color;
  padding: 0 1rem;
  color: $primary-color;

  &:focus,
  &:hover {
    outline: 2px solid $outline-color;
    cursor: pointer;
  }

  .chevron-down {
    color: $primary-color;
  }

  p {
    margin: 0;
  }
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 40px;
  height: 40px;
  background-color: $white-color;
  border: none;
  color: $primary-color;
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $primary-color;
    color: $white-color;
    outline: 2px solid $outline-color;
  }

  .search-icon{
    font-size: 1.5rem;
    
  }
}}

@media only screen and (max-width: 1024px) {
  .searchBar {
    padding: 0 1rem;

    .items{
      padding: 1rem 0;

      p{
        margin-bottom: .5rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    .field-name {
      width: 100%;
      margin: 0;
      font-size: $font-size-2;
    }

    .search-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: fit-content;
      font-size: $font-size-2;
    }

    .items-placeholder {
      width: 100%;
    }

    .items {
      width: 90%;
    }
  }
}
