@import 'variables';

body {
    min-width: 360px;
}

.section-title {
    font-size: $fs-desktop-h2;
    font-weight: bold;
    width: 100%;
    color: $tertiary-color;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .error-message {
    width: fit-content;
    padding: 4rem 2rem;
    border-radius: 5px;
    font-size: $font-size-3;
    text-align: center;
    background-color: $red-color;
    color: $white-color;
    position: relative;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap:1rem;

    margin: 2rem;

    a{
      color: $white-color;
      text-decoration: none;
    }
  }

  .loading{
    font-size: $font-size-3;
    border: 1px solid $green-color;
    border-radius: 5px;
    color: $green-color;
    padding: 1rem;
    text-align: center;
    background-color: $secondary-color;
  }

  .load-more-button{
    margin-top: 2rem;
    font-size: 2.5rem;
    border: none;
    padding: .5rem;
    color: $primary-color;
    background-color: rgba(255, 255, 255, 0);
    cursor:pointer;
    &:hover{
      color: $tertiary-color;
    }
  }

  .close-icon{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
  }

  .exclamation-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.7rem;
  }
