// COLORS
$primary-color: #0074C7;
$secondary-color: #F1F8FC;
$tertiary-color: #00487C;
$red-color: #C22C2E;
$green-color: #82B864;
$white-color: #FFFFFF;
$outline-color: #ffd000;

// FONTS-SIZE
$font-size-1: 1.5rem;
$font-size-2: 1rem;
