// COLORS
$primary-color: #0074C7;
$secondary-color: #F1F8FC;
$tertiary-color: #00487C;
$text-color: #344050;
$red-color: #C22C2E;
$green-color: #82B864;
$white-color: #FFFFFF;
$turquoise-color: #07a7d0;
$outline-color: #ffd000;

// FONTS-SIZE
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem;
$font-size-4: 1.8rem;

$fs-desktop-h1: 3rem;
$fs-desktop-h2: 2.6rem;
$fs-desktop-h3: 2.2rem;

$fs-tablet-h1: 1.8rem;
$fs-tablet-h2: 1.4rem;
$fs-tablet-h3: 1rem;
//$fs-tablet-title: 2.80rem;
//$fs-mobile-title: 2.35rem;
